::-webkit-scrollbar {
  display: none;
}

table {
  margin-bottom: 0;
}

tr td:nth-child(2) {
  font-weight: bold;
  text-align: center;
}

tr td:first-child {
  text-align: right;
}

td:hover {
  color: #000;
  background-color: #fff;
}

.container-fluid {
  padding: 0;
  margin: 0;
}
